<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
      <p><a href="https://betamore.com">Betamore</a> is a campus for technology + entrepreneurship located in the heart of the Federal Hill neighborhood of downtown Baltimore.</p>
      </div>
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-3">
          <p>Learn how to develop and launch a website from start to finish in this 10-week course.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
