<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <title>Unit {{ page.unit }} | FEWD | {{ site.title | escape }}</title>
    <meta name="description" content="{{ page.unit-title | strip_html | strip_newlines | append: '.' }}">
    <link rel="stylesheet" href="{{ "/css/remark.css.gz" | prepend: site.baseurl }}">
    <script src="https://use.typekit.net/wja6wvg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
    <script src="{{ "/js/remark-latest.min.js.gz" | prepend: site.baseurl }}" ></script>
    <script>
      var slideshow = remark.create({
        sourceUrl: '../unit{{ page.unit }}.md',
        ratio: '16:9'
      });
    </script>
  </body>
</html>
