<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="robots" content="noindex, nofollow">
    <title>Unit 1 | FEWD Fall 2015 | Betamore</title>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  </head>
  <body>
    <textarea id="source">
      {{ content }}
    </textarea>
    <script src="{{ "/js/remark-latest.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script type="text/javascript">
      var slideshow = remark.create();
    </script>
  </body>
</html>