<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <title>Unit {{ page.unit }} | FEWD | {{ site.title | escape }}</title>
    <meta name="description" content="{{ page.description | strip_html | strip_newlines | truncate: 160 }}">
    <link rel="stylesheet" href="{{ "/css/remark.css" | prepend: site.baseurl }}">
  </head>
  <body>
    <script src="{{ "/js/remark-latest.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script type="text/javascript">
      var slideshow = remark.create({
        sourceUrl: '../unit{{ page.unit }}.md',
        ratio: '16:9'
      });
    </script>
  </body>
</html>